@import "../../assets/less/variable";
.navbar.navbar-fixed-top{
  z-index: 3;
  .avatar{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-top: -4px;
    border-radius: 15px;
    margin-left: 8px;
  }
  .navbar-header{
    .navbar-brand{
      width: 150px;
      text-align: center;
      a{  color: @highlight-color;  }
      &:hover{
        background: lighten(@gray, 10%);
      }
    }
    .navbar-toggle{
      color: @white;
    }
    .btn-group{
      margin: 5px;
    }
  }

  .navbar-collapse{
    .dropdown-toggle{
      position: relative;
      width: 160px;
      height: 50px;
      overflow: hidden;
    }
  }
}
