<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-brand">
        <a [routerLink]="['/dashboard']">Edu- Admin</a>
      </div>
      <div class="btn-group navbar-toggle pull-right">
        <div data-toggle="dropdown">
          admin
          <span class="caret"></span>
        </div>
        <ul class="dropdown-menu">
          <li class="text-center"><a href="javascript:void(0)" [routerLink]="['../login']">退出</a></li>
        </ul>
      </div>
    </div>

    <div class="collapse navbar-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle text-center" data-toggle="dropdown">
            admin
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li class="text-center"><a href="javascript:void(0)" [routerLink]="['../login']">退出</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
