<p-dataTable
  #employeeTable
  [globalFilter]="keyword"
  [expandableRows]="true"
  [resizableColumns]="false"
  [editable]="true"
  [(value)]="employees"
  [paginator]="employees.length > visibleRows"
  [rows]="visibleRows"
  (onRowSelect)="onRowSelect()"
  [(selection)]="selectedEmployee"
  [selectionMode]="'single'">
  <p-header class="clearfix">
    <p class="pull-left title">员工信息概览</p>
    <div class="ui-inputgroup pull-right employee-adder">
      <button pButton [icon]="'fa-plus'" type="button" [label]="'添加员工'" (click)="showAdderDialog()"></button>
    </div>
    <div class="ui-g pull-right">
      <div class="ui-inputgroup employee-searcher">
        <input type="text" #keyword pInputText placeholder="全局搜索员工信息">
        <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
      </div>
    </div>
  </p-header>
  <p-column [styleClass]="'col-icon'" [expander]="true"></p-column>
  <p-column [styleClass]="'col'" [field]="'name'" [header]="'姓名'" [filter]="true" [filterMatchMode]="'contains'" [filterPlaceholder]="'姓名过滤'"></p-column>
  <p-column [styleClass]="'col'" [field]="'sex'" [header]="'性别'" [filter]="true" >
    <ng-template pTemplate="filter" let-col>
      <p-dropdown [style]="{width: '100%',marginTop: '3.5px'}" [options]="genders" (onChange)="employeeTable.filter($event.value,col.field,col.filterMatchMode)" [styleClass]="'ui-column-filter'"></p-dropdown>
    </ng-template>
  </p-column>
  <p-column [styleClass]="'col'" [field]="'phone'" [header]="'手机号码'" [filter]="true" [filterPlaceholder]="'手机号过滤'"></p-column>
  <p-column [styleClass]="'col'" [field]="'education'" [header]="'学历'" [filter]="true" [filterPlaceholder]="'学历过滤'"></p-column>
  <p-column [styleClass]="'col'" [field]="'email'" [header]="'邮箱'" [filter]="true" [filterMatchMode]="'contains'" [filterPlaceholder]="'邮箱过滤'"></p-column>
  <p-column [styleClass]="'col'" [field]="'birthday'" header="生日({{ birthYear || '年'}})" [filter]="true" [filterMatchMode]="'startsWith'">
    <ng-template pTemplate="filter" let-col>
      <i class="fa fa-close" (click)="birthYear=null;employeeTable.filter(null,col.field,col.filterMatchMode)"></i>
      <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="birthYear" [min]="minBirthYear" [max]="maxBirthYear" (onSlideEnd)="employeeTable.filter($event.value == 0 ? null : $event.value.toString(),col.field,col.filterMatchMode)"></p-slider>
    </ng-template>
  </p-column>
  <ng-template let-employee pTemplate="rowexpansion">
    <div class="ui-grid ui-grid-responsive ui-fluid">
      <div class="ui-grid-row">
        <div class="ui-grid-col-2 col-label">紧急联系人姓名:</div>
        <div class="ui-grid-col-10 col-value">{{ employee.clamantName }}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2 col-label">紧急联系人电话:</div>
        <div class="ui-grid-col-10 col-value">{{ employee.clamantPhone }}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2 col-label">身份证号:</div>
        <div class="ui-grid-col-10 col-value">{{ employee.idCard }}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2 col-label">家庭住址:</div>
        <div class="ui-grid-col-10 col-value">{{ employee.address }}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2 col-label">描述信息:</div>
        <div class="ui-grid-col-10 col-value">{{ employee.remark }}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2 col-label">毕业院校:</div>
        <div class="ui-grid-col-10 col-value">{{ employee.graduationSchool }}</div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-2 col-label">专业:</div>
        <div class="ui-grid-col-10 col-value">{{ employee.specialty }}</div>
      </div>
    </div>
  </ng-template>
</p-dataTable>


<p-dialog [(visible)]="showEmployeeDialog" [modal]="true" [responsive]="true" [width]="600" [dismissableMask]="true">
  <p-header>{{ chosenEmployee.id ? '编辑' : '新增' }} {{ chosenEmployee.id && ('[' + chosenEmployee.name  + ']')  }} 员工信息</p-header>

  <div class="ui-grid ui-grid-responsive ui-fluid">
    <div class="io-grid-row">
      <div class="ui-grid-col-5">
        <div class="ui-grid-row">
          <div class="ui-grid-col-3"><label for="name">姓名</label></div>
          <div class="ui-grid-col-8"><input type="text" pInputText id="name" [(ngModel)]="chosenEmployee.name"></div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-3"><label for="gender">性别</label></div>
          <div class="ui-grid-col-8"><p-dropdown id="gender" [options]="genders" [(ngModel)]="chosenEmployee.sex" [style]="{'width':'100%'}"></p-dropdown></div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-3"><label for="phone">手机号</label></div>
          <div class="ui-grid-col-8"><input type="text" pInputText id="phone" [(ngModel)]="chosenEmployee.phone"></div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-3"><label for="birthday">生日</label></div>
          <div class="ui-grid-col-8"><input type="text" pInputText id="birthday" [(ngModel)]="chosenEmployee.birthday"></div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-3"><label for="email">邮箱</label></div>
          <div class="ui-grid-col-8"><input type="text" pInputText id="email" [(ngModel)]="chosenEmployee.email"></div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-3"><label for="education">学历</label></div>
          <div class="ui-grid-col-8"><input type="text" pInputText id="education" [(ngModel)]="chosenEmployee.education"></div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-3"><label for="specialty">专业</label></div>
          <div class="ui-grid-col-8"><input type="text" pInputText id="specialty" [(ngModel)]="chosenEmployee.specialty"></div>
        </div>
      </div>
      <div class="ui-grid-col-7">
        <div class="ui-grid-row">
          <div class="ui-grid-col-3"><label for="graduationSchool">毕业院校</label></div>
          <div class="ui-grid-col-9"><input type="text" pInputText id="graduationSchool" [(ngModel)]="chosenEmployee.graduationSchool"></div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-3"><label for="idCard">身份证号</label></div>
          <div class="ui-grid-col-9"><input type="text" pInputText id="idCard" [(ngModel)]="chosenEmployee.idCard"></div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-3"><label for="address">家庭住址</label></div>
          <div class="ui-grid-col-9"><input type="text" pInputText id="address" [(ngModel)]="chosenEmployee.address"></div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-3"><label for="clamantName">联系人姓名</label></div>
          <div class="ui-grid-col-9"><input type="text" pInputText id="clamantName" [(ngModel)]="chosenEmployee.clamantName"></div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-3"><label for="clamantPhone">联系人电话</label></div>
          <div class="ui-grid-col-9"><input type="text" pInputText id="clamantPhone" [(ngModel)]="chosenEmployee.clamantPhone"></div>
        </div>

        <div class="ui-grid-row">
          <div class="ui-grid-col-3"><label for="remark">描述信息</label></div>
          <div class="ui-grid-col-9"><textarea rows="1" [autoResize]="'autoResize'" pInputTextarea id="remark" [(ngModel)]="chosenEmployee.remark"></textarea></div>
        </div>
      </div>
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button
        *ngIf="chosenEmployee.id"
        class="ui-button-danger"
        (click)="deleteEmployee(chosenEmployee.name)"
        pButton
        [icon]="'fa-trash-o'"
        [label]="'删除'"></button>
      <button
        [disabled]="!chosenEmployee.name"
        class="ui-btn-default"
        type="button"
        pButton
        [label]="chosenEmployee.id ? '保存': '新增'"
        [icon]="chosenEmployee.id ? 'fa-save':'fa-plus'"
        (click)="saveEditedEmployee()">
      </button>
    </div>
  </p-footer>
</p-dialog>

<p-confirmDialog
  [header]="'确定删除该员工信息？'"
  [width]="425"
  [icon]="'fa fa-question-circle'"
  [rejectLabel]="'取消'"
  [acceptLabel]="'确定'"></p-confirmDialog>
