<p-dataTable
  #employeeTable
  [(value)]="syllabuses"
  [paginator]="syllabuses.length > tableVisibleRows"
  [rows]="tableVisibleRows"
  [(selection)]="selectedSyllabus"
  (onRowSelect)="onRowSelect($event)"
  [globalFilter]="keyword"
  [selectionMode]="'single'">
  <p-header class="clearfix">
    <p class="pull-left title">课程信息概览</p>
    <div class="ui-inputgroup pull-right syllabus-adder">
      <button pButton [icon]="'fa-plus'" type="button" [label]="'添加课程'" (click)="showAdderDialog()"></button>
    </div>
    <div class="ui-g pull-right">
      <div class="ui-inputgroup syllabus-searcher">
        <input type="text" #keyword pInputText placeholder="全局搜索课程信息">
        <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
      </div>
    </div>
  </p-header>
  <p-column [styleClass]="'col'" [field]="'name'" [filter]="true" [filterPlaceholder]="'课程名称过滤器'" [header]="'课程名称'" [filterMatchMode]="'contains'"></p-column>
  <p-column [styleClass]="'col'" [field]="'price'" [filter]="true" [filterPlaceholder]="'价格过滤'" [header]="'价格'"></p-column>
  <p-column [styleClass]="'col'" [field]="'type'" [header]="' 类型 '">
    <ng-template pTemplate="filter" let-col>
      <p>
        <p-dropdown [options]="syllabusTypes" (onChange)="employeeTable.filter($event.value,col.field,col.filterMatchMode)" [styleClass]="'ui-column-filter'"></p-dropdown>
      </p>
    </ng-template>
  </p-column>
  <p-column [styleClass]="'col'" [field]="'studentNum'" [header]="'学生人数'"></p-column>
  <p-column [styleClass]="'col'" [field]="'selectedNum'" [header]="'选课人数'"></p-column>
  <p-column [styleClass]="'col'" [field]="'backNum'" [header]="'退选人数'"></p-column>
</p-dataTable>


<p-dialog [(visible)]="showSyllabusDialog" [modal]="true" [responsive]="true" [width]="420">
  <p-header>{{ chosenSyllabus.id ? '编辑' : '新增' }} {{ chosenSyllabus.id && ('[' + chosenSyllabus.name  + ']')  }} 课程条目</p-header>

  <div class="ui-grid ui-grid-responsive ui-fluid">
    <div class="ui-grid-row">
      <div class="ui-grid-col-3"><label for="type">课程类型</label></div>
      <div class="ui-grid-col-9"><p-dropdown id="type" [options]="syllabusTypes" [(ngModel)]="chosenSyllabus.type" [style]="{'width':'100%'}"></p-dropdown></div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-3"><label for="name">课程名称</label></div>
      <div class="ui-grid-col-9"><input type="text" pInputText id="name" [(ngModel)]="chosenSyllabus.name"></div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-3"><label for="price">课程价格</label></div>
      <div class="ui-grid-col-9"><input type="text" pInputText id="price" [(ngModel)]="chosenSyllabus.price"></div>
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button *ngIf="chosenSyllabus.id" class="btn btn-danger" type="button" (click)="deleteSyllabus(chosenSyllabus.name)"><span class="fa fa-close">删除</span></button>
      <button
        [disabled]="!chosenSyllabus.name"
        class="btn btn-primary"
        type="button"
        (click)="saveEditedSyllabus()">
        <span class="fa {{ chosenSyllabus.id ? 'fa-check':'fa-plus' }}">{{ chosenSyllabus.id ? '保存': '新增' }}</span>
      </button>
    </div>
  </p-footer>
</p-dialog>

<p-confirmDialog
  [header]="'确定删除该课程？'"
  [width]="425"
  [icon]="'fa fa-question-circle'"
  [rejectLabel]="'取消'"
  [acceptLabel]="'确定'"></p-confirmDialog>
