@import "../../assets/less/variable";
/* p-panelMenu */
p-panelMenu {
  .ui-widget {
    background: @white;
    border: none;
    .ui-widget-content {
      border: none;
      border-bottom: 1px solid @pale;
      a.ui-state-active{
        background: @pale;
        color: @white;
      }
      a.ui-state-active:hover{
        background: @pale;
      }
    }
  }
  .ui-corner-top {
    border-radius: 0;
  }
}

/* p-dialog */
p-dialog{
  .ui-widget-header{
    background: @light-pale;
  }
  .ui-widget-content.ui-dialog-footer{
    border: none;
    border-top: 1px solid @pale;
    background: @light-pale;
  }
}
